.gallery-grid {

	@include justify-content( center );

	.col { 
		width: 25%; 
		@media screen and (max-width: 1000px) { width: 33.333%; }
		@media screen and (max-width: 750px) { width: 50%; }
		@media screen and (max-width: 450px) { width: 100%; }
	}
	
	.item {
		height:0;
		padding: 0 0 70%;
	}

}
