.section-nav {
	border-bottom: 1px solid $mediumColor;

	ul {
		@include display( flex );
		@include align-items( center );
		width: $wrapperWidth;
		margin: 0 auto;
		max-width: 100%;
	}

	li {
		@include flex( 1 1 auto );
	}

	a {
		display: block;
		text-transform: uppercase;
		padding: 16px 8px;
		color: #1f1f1f;
		text-align:center;
	}

	.selected a,
	a:hover {
		background: $secondaryColor;
		color: #fff;
	}

	.selector { 
		display: none; 
		width: 100%;
		margin:0;
		background: $secondaryColor;
	}

	@media screen and (max-width: 850px) {
		ul { display: none; }
		.selector { display: block; }
	}
}}