/* split-block */
.split-block {
	@include display( flex );
	@include justify-content( center );
	&.full { min-height: 400px; }
	
	&.with-border {
		.split-block-item:first-child { border: 0 solid $mediumColor; border-width: 0 1px 0 0;}
	}
	
}

.split-block-item {
	@include flex( 0 1 50% );
	@include display( flex );
	
	.split-block.full & { 
		@include align-items( center );
	}
}

.split-block-item:first-child { 
	@include justify-content( flex-end ); 
	.split-block-content { padding-right: 40px; }
}
.split-block-item:last-child { 
	@include justify-content( flex-start ); 
	.split-block-content { padding-left: 40px; }
}

.split-block-content { 
	width: 95%;
	max-width: 800px;
	padding: 60px 0;
}

@media screen and (max-width: 950px) {
	.split-block-item,
	.split-block { display: block; }
	.split-block-content { 
		padding: 40px 20px !important; 
		margin: 0 auto;
	}
	.split-block.with-border {
		.split-block-item:first-child {
			border-width: 0 0 1px;
		}
	}
}