$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;


header { display: none; }
@media screen and (max-width: $collapseNavAt) {
	header {
		position: absolute;
		display: block;
		top:0; left:0; right:0;
		background: #fff;
		z-index: 9;
		text-align:center;
		padding: 10px;
		font-size:0;

		a {
			display: inline-block;
			vertical-align: middle;
			margin: 0 8px;
		}

		img {
			height: 50px;
		}
	}
}
