/* bouncing images */
.bounce {
	.img {
		@include transition( all 0.4s $ease-in-out-sine );
	}
	
	&:hover .img {
		@include transition-timing-function( $ease-out-back );
		@include transform ( scale( 1.25, 1.25 ) );
	}
}

.mpopup {
	cursor: pointer;
}

/* aspect ratio */
.ar {
	position: relative;
	height:0;
	display: block;
	overflow: hidden;
	
	.ar-child {
		position: absolute;
		display: block;
		top:0; left:0; right:0; bottom:0;
		width:100%; height:100%;
	}
}

/* lazybg */
.lazybg {

	opacity:0;
	@include transition( opacity 0.25s $ease-in-out-sine );
	background: center no-repeat;
	background-size: cover;

	img { visibility: hidden; }
		
	&.with-img { background-size: contain; }
	&.loaded { opacity:1; }
}

/* rows */
.rows {
	display: inline-block;
	
	.row {	
		@include display( flex );
		@include justify-content( space-between );
		@include align-items( center );
		
		
		span { 
			@include flex( 1 1 auto ); 
			text-align:left;
		}
		.l { 
			@include flex( 1 3 auto );
			padding-right: 25px;
		}
		.r { text-align: right; }
	}
	
}