.social {

	cursor: default;
	@include display( flex );

	a {
		width: 30px; height: 30px;
		margin: 0 3px;
		background: $primaryColor;
		border-radius: 4px;
		@include t-fa-abs();
		color: #fff;
		&:before { 
			font-size: 18px;
		}
		&:hover {
			background: $secondaryColor;
		}
	}
	
}

.social-fb:before { content: $fa-var-facebook; }
.social-tw:before { content: $fa-var-twitter; }
.social-in:before { content: $fa-var-linkedin; }
.social-ig:before { content: $fa-var-instagram; }
.social-gp:before { content: $fa-var-google-plus; }
.social-yt:before { content: $fa-var-youtube; }
.social-rss:before { content: $fa-var-rss; }