/* hero */
.hero {
	
	position: relative;
	
	.fader-item {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
		position: relative;
		background-color: $primaryColor;
		@include display( flex );
	}
	
}

.fader-item-bg {
	position: absolute;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity:0;
	@include transition( opacity 0.25s $ease-in-out-sine );	
	top: 0; left:0; right:0; bottom:0;
	&.loaded,
	.loaded & { opacity: 1; }
}

.hero-swiper {
	position: absolute;
	bottom:0; left:0; right:0;
	margin: 0 auto;
	background: rgba(255,255,255,0.9);
	border-radius: $buttonBorderRadius;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	padding: 20px 60px;

	.swipe-item {
		@include display( flex );
		@include align-items( center );
		@include justify-content( space-between );

		.button {
			@include flex( 0 0 180px );
		}
	}

	.slick-prev,
	.slick-next {
		@include t-fa-abs();
		@include transform( translateY(-50%) );
		width: 50px; height: 50px;
		font-size: 52px;
		color: $darkColor;
		position: absolute;
		top:50%;
		outline: none;

		&:hover {
			color: $secondaryColor;
		}
	}

	.slick-next { 
		right:-60px; 
		&:before { content: $fa-var-angle-right;} 
	}
	.slick-prev {
		left:-60px; 
		&:before { content: $fa-var-angle-left;} 
	}

}

.hero-swiper-content {
	max-width: 65%;
}

@media screen and (max-width: 900px) {
	.hero-swiper .swipe-item { display: block; }
	.hero-swiper { border-radius:0; }
	.hero-swiper-content { max-width: none; margin-bottom: 10px;}
}

@media screen and (max-width: 599px) {
	.hero-swiper {
		padding: 15px;
		.slick-prev,
		.slick-next { display: none; }
	}
	
	.hero-swiper-content p { display:none; }
}

body:not(.home) {

	@media screen and (max-width: 599px), screen and (max-height: 400px) {
		.hero { display: none; }
		.body { padding-top: 100px;}
	}

	@media screen and (max-height: 400px) and (min-width: $collapseNavAt) {
		.body { padding-top: 140px; }
	}

}